.login-form, 
.create-form {
  max-width: 500px;
  margin: 0 auto 24px;
}

.login-form ul,
.create-form ul {
  margin-bottom: 24px;
  padding: 40px 24px;
  background: var(--gray);
}

.login-form li,
.create-form li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 24px;
}

.login-form li:last-of-type,
.create-form li:last-of-type {
  margin-bottom: 0;
}

.login-form li {
  max-width: 260px;
}

.login-form label{
  min-width: 6em;
}

.login-form button {
  margin: 0 auto;
}

.create-form li {
  max-width: 306px;
}

.create-form .error-message {
  font-size: 12px;
  color: var(--red);
}

.create-form label {
  display: block;
}

.create-form button {
  margin: 0 auto;
}

.notice {
  max-width: 480px;
  margin: 0 auto;
  padding: 16px;
  color: var(--red);
}