/* header */
.hamb .icon {
  transition: .5s ease-in;
}

.hamb.open .icon {
  transform: rotate(360deg);
}
/* header */

/* nav */
.menu {
  left: -100vw;
  transition: .4s ease-in;
}

.menu.open {
  left: 0;
}

.back {
  transform: rotate(180deg);
  transition: .5s ease-in;
}

.menu.open .back {
  transform: rotate(0deg);
}

.product-category button {
  transition: .5s;
}

.product-category button.selected {
  color: #a6a6a6;
  text-decoration: underline;
}
/* nav */

/* pcnav */
.pc-product-hamb .icon {
  transition: .5s ease-in;
}

.pc-product-hamb.open .icon {
  transform: rotate(360deg);
}

.pc-product-menu {
  max-height: 0;
  transform: translateY(-80px);
  overflow: hidden;
  opacity: 0;
  transition: all .5s ease-in;
}

.pc-product-menu.open {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

.pc-product-category button {
  transition: .5s;
}

.pc-product-category button.selected {
  color: #a6a6a6;
  text-decoration: underline;
}
/* pcnav */

/* modal */
.modal {
  opacity: 0;
  pointer-events: none;
  transition: .5s ease-in;
}

.modal.open {
  opacity: 1;
  pointer-events: auto;
}
/* modal */

/* product */
.product .product-colors button {
  border: 1px solid var(--sub-gray);
}
.product .product-colors button.active {
  border: 2px solid var(--accent);
}

.product .product-size button {
  border: 1px solid var(--accent);
}

.product .product-size button.active {
  font-weight: bold;
  border-width: 2px;
}
/* product */

/* footer */
.contact dd,
.company dd {
  max-height: 0px;
  padding-top: 46.4px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-80px);
  transition: .5s;
}

.contact dd.open {
  max-height: 269px;
  transform: translateY(0);
  opacity: 1;
}

.company dd.open {
  max-height: 142px;
  transform: translateY(0);
  opacity: 1;
}
/* footer */

@media screen and (min-width: 1000px) {
  /* btn */
  .home,
  .login,
  .add-cart,
  .buy,
  .agree, 
  .create,
  .prev,
  .reset,
  .logout {
    transition: .5s;
  }

  .home:hover {
    background: #b6b6b6;
  }

  .login:hover,
  .create:hover {
    background: var(--accent);
    border: 1px solid var(--bg);
  }

  .add-cart:hover {
    color: var(--accent);
    background: var(--bg);
    border: 2px solid var(--accent);
  }

  .buy:hover,
  .agree:hover {
    background: var(--hover-yellow);
  }

  .prev:hover,
  .reset:hover {
    background: var(--hover-blue);
  }

  .logout:hover {
    background: var(--hover-red);
  }
  /* btn */

  /* header */
  .account {
    transition: .5s;
  }

  .account:hover {
    opacity: .8;
  }
  /* header */

  /* nav */
  .cart {
    transition: .5s;
  }

  .cart:hover {
    transform: scale(1.1);
  }

  .product-category button:hover {
    color: #a6a6a6;
    text-decoration: underline;
  }
  /* nav */

  /* pcnav */
  .pc-product-category button:hover {
    color: #a6a6a6;
    text-decoration: underline;
  }
  /* pcnav */

  /* contents */
  .products-items .item {
    transition: .3s;
  }

  .products-items .item:hover {
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.2);
    transform: translate(-4px, -4px);
  }
  /* contents */

  /* product */
  .related-products .swiper-slide {
    transition: .25s ease-in;
  }

  .related-products .swiper-slide:hover {
    opacity: .8;
  }
  /* product */

  /* footer */
  footer button {
    transition: .5s;
  }

  footer button:hover {
    color: #a6a6a6;
  }
  /* footer */
}