.cart-product,
.cart-confirm {
  max-width: 450px;
  font-size: 12px;
}

.cart-product h3,
.cart-confirm h3 {
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
}

.cart-product label,
.cart-confirm label,
.cart-product span,
.cart-confirm span {
  display: block;
}

.cart-product ul,
.cart-confirm ul {
  max-width: 450px;
  margin: 0 auto 40px;
  padding: 24px;
  border: 1px solid var(--sub-gray);
}

.cart-product li,
.cart-confirm li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.cart-product li:last-child,
.cart-confirm li:last-child {
  margin-bottom: 0;
}

.cart-product li label,
.cart-confirm li label {
  width: max-content;
}

.cart-product li span,
.cart-confirm li span {
  font-weight: bold;
}

.cart-product h4,
.cart-confirm h4 {
  display: flex;
  align-items: center;
  gap: 16px;
  width: max-content;
  margin-left: auto;
  margin-bottom: 40px;
  font-size: 18px;
}

.cart-product .btn,
.cart-confirm .btn {
  margin: 0 auto;
}

.cart-product .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  color: var(--text);
}

.cart-product .buttons .plus,
.cart-product .buttons .minus {
  width: 16px;
  height: 16px;
  color: var(--text);
}

.cart-product .buttons .trash {
  color: var(--red);
}

.color span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--sub-gray);
}

.cart-confirm .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 360px;
  margin: 0 auto;
}