:root {
  --text: #363636;
  --bg: #ffffff;
  --sub-bg: #f0f0f0;
  --gray: #eeeeee;
  --sub-gray: #d6d6d6;
  --red: #d32f2f;
  --blue: #1976d2;
  --yellow: #e6b22d;
  --green: #388e3c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  line-height: 1.6;
}

h2, h3 {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input {
  display: block;
  height: 22px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--text);
}

button {
  display: block;
  background: none;
  border: none;
}

/* ボタン */
.btn {
  width: 128px;
  padding: 16px 8px;
  font-weight: bold;
}

.home {
  color: var(--text);
  background: var(--bg);
}

.login, .add-cart, .buy, .agree {
  background: var(--yellow);
}

.create {
  background: var(--blue);
}

.prev, .reset {
  background: var(--green);
}

.logout {
  background: var(--red);
}

.icon-containar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-containar label {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/* ボタン */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 104px;
  background: #f6f6f6;
}

header .logo{
  height: 64px;
}

header .logo img {
  width: auto;
  height: 100%;
}


header .hamb {
  width: 100%;
  padding: 8px 0;
  background: #161616;
}

header .hamb .icon {
  color: var(--bg);
  border: 1px solid var(--bg);
}

main {
  min-height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 168px 24px 40px;
  position: relative;
}

footer {
  padding: 40px 0;
  text-align: center;
  background: #161616;
}

footer .copy-id {
  margin: 0 auto 24px;
  padding: 8px;
  color: var(--text);
  background: var(--sub-bg);
}

footer p {
  line-height: 3;
  color: var(--bg);
}