:root {
  --text: #363636;
  --accent: #161616;
  --bg: #ffffff;
  --sub-bg: #f0f0f0;
  --gray: #eeeeee;
  --sub-gray: #d6d6d6;
  --red: #b12626;
  --blue: #1670ca;
  --yellow: #e68a2d;
  --green: #468d49;
  --hover-red: #912222;
  --hover-blue: #124f8b;
  --hover-yellow: #9f7b20;
  --hover-green: #255c28;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.04em;
  font-size: 14px;
  line-height: 1.6;
}

h2, h3 {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

input {
  display: block;
  height: 22px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid var(--text);
}

button {
  display: block;
  background: none;
  border: none;
}

/* ボタン */
.btn {
  width: 128px;
  padding: 16px 8px;
  font-weight: bold;
  cursor: pointer;
  color: var(--bg);
}

.home {
  background: var(--accent);
}

.login, .add-cart, .buy, .agree {
  background: var(--yellow);
}

.create {
  background: var(--blue);
}

.prev, .reset {
  background: var(--green);
}

.logout {
  background: var(--red);
}

.reset {
  cursor: pointer;
}

.icon-containar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon-containar label {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/* ボタン */

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 120px;
  background: var(--bg);
}

header .logo{
  height: 64px;
  cursor: pointer;
}

header .logo img {
  width: auto;
  height: 100%;
}


header .hamb {
  width: 100%;
  height: 56px;
  background: var(--accent);
  cursor: pointer;
}

header .hamb .icon {
  color: var(--bg);
}

/* .top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--gray);
} */

main {
  min-height: 100dvh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 40px;
  position: relative;
}

.login-form, 
.create-form,
.cart-product,
.cart-confirm,
.dami-content {
  margin: 160px auto;
}

.dami-content h3 {
  font-size: 24px;
  text-align: center;
}

.dami-content img {
  width: 80%;
  max-width: 300px;
  margin: 40px auto;
}