.menu {
  position: fixed;
  top: 104px;
  z-index: 20;
  width: 100%;
  height: calc(100dvh - 104px);
  padding: 24px 16px;
  background: hsla(0, 0%, 0%, 0.9);
  overflow-y: auto;
}

button {
  color: var(--bg);
}

.back {
  margin-bottom: 24px;
}

.back .icon {
  width: 40px;
  height: 40px;
}

.menu-buttons {
  margin-bottom: 40px;
  padding-left: 16px;
}

.home {
  margin-bottom: 24px;
}

.account-menu {
  margin-bottom: 24px;
}

.login {
  margin-bottom: 16px;
}

.user {
  margin-bottom: 16px;
}

.user .icon {
  width: 40px;
  height: 40px;
}

.user p {
  margin-left: 4px;
}

.cart .icon {
  width: 40px;
  height: 40px;
}

.cart label {
  background: rgb(232, 117, 75);
}

.filter .icon {
  width: 32px;
  height: 32px;
}

.filter label {
  background: rgb(67, 185, 145);
}

.reset {
  padding: 8px 24px;
  font-style: normal;
  color: var(--bg);
}


.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin-bottom: 16px;
  border-bottom: 2px solid var(--gray);
}

.product-menu {
  width: 80%;
  padding-left: 16px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-header h3 {
  font-size: 24px;
  line-height: 2.6;
  color: var(--bg);
}

.product-header .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: max-content;
}

.product-category {
  margin: 0 24px 24px 0;
  padding-left: 8px;
}

.product-category:last-of-type {
  margin-bottom: 0;
}

.product-category h3 {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 2;
  color: var(--bg);
  border-bottom: 2px solid var(--bg);
}
/* .product-category:nth-of-type(1) h3 {
  color: var(--red);
}
.product-category:nth-of-type(2) h3 {
  color: var(--green);
}
.product-category:nth-of-type(3) h3 {
  color: var(--blue);
}
.product-category:nth-of-type(4) h3 {
  color: var(--yellow);
} */

.product-category li {
  padding-left: 16px;
}

.product-category li:not(:first-of-type) {
  padding-left: 20px;
}

.product-category li:not(:last-of-type) {
  margin-bottom: 8px;
}

.product-category button {
  line-height: 1.8;
  font-style: italic;
  cursor: pointer;
}

.pc-nav {
  display: none;
}

@media screen and (min-width: 660px) {
  .product-header {
    max-width: 560px;
  }

  .account-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .login {
    margin-bottom: 0;
  }

  .user {
    margin-bottom: 0;
  }

  .product-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 800px;
  }

  .product-category {
    padding-left: 0;
  }

  /* pcnav */
  .pc-nav {
    position: relative;
    display: block;
    max-width: 1200px;
    margin: 0 auto 40px;
  }

  .pc-product-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: var(--text);
  }

  .pc-product-hamb {
    color: var(--bg);
  }

  .pc-product-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: max-content;
    margin-left: auto;
  }

  .pc-product-filter .filter {
    color: var(--bg);
  }

  .pc-product-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 80px 24px 24px;
    border: 1px solid var(--gray);
  }

  .pc-product-category {
    flex: 1;
  }

  .pc-product-category h3 {
    margin-bottom: 8px;
    line-height: 2;
    font-size: 18px;
    border-bottom: 2px solid var(--text);
  }

  .pc-product-category li{
    padding-left: 8px;
  }

  .pc-product-category button {
    font-size: 14px;
    font-style: italic;
    line-height: 1.8;
    color: var(--text);
    cursor: pointer;
  }
  /* pcnav */
}

@media screen and (min-width: 1000px) {
  .product-header {
    max-width: 800px;
  }

  .product-menu {
    max-width: none;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}