.product .swiper-pagination-progressbar-fill {
  background: rgba(0,0,0,.6);
}

.product-image {
  max-width: 350px;
  margin: 0 auto 16px;
}

.product-image .img-main {
  margin-bottom: 16px;
}

.product-image .img-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
  overflow: hidden;
  border: 1px solid var(--sub-gray);
}

.product-image .img-list .swiper {
  width: 100%;
}

.product-image .img-list .swiper-slide {
  width: 48px;
  cursor: pointer;
}

.product-image .img-list .swiper-slide img {
  margin-bottom: 0;
}

.product-image .img-list .swiper-pagination-progressbar {
  top: auto;
  bottom: 0;
}

.product-explanation {
  max-width: 350px;
  margin: 0 auto 40px;
}

.product-explanation .product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-explanation .product-price {
  margin-bottom: 8px;
  font-size: 16px;
}


.product form {
  max-width: 350px;
  margin: 24px auto 0;
  padding: 24px;
  border-top: 2px solid var(--sub-gray);
}

.product form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.product form .product-colors {
  margin-bottom: 16px;
}

.product form .product-colors button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.product form .product-size {
  margin-bottom: 24px;
}

.product form .product-size button {
  width: 24px;
  height: 32px;
  color: var(--text);
}

.product form .error-message {
  font-size: 12px;
  color: var(--red);
  text-align: center;
}

.product form .product-nums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.product form .product-nums label {
  width: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text);
}

.product form .product-nums button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

.product form .product-nums .icon {
  width: 16px;
  height: 16px;
  font-size: 11px;
}

.product form .add-cart {
  margin: 0 auto;
}

.related-products {
  width: 100%;
}

.related-products h3 {
  margin-bottom: 16px;
}

.related-products .swiper {
  width: 100%;
}

.related-products .swiper-slide {
  width: 80px;
  cursor: pointer;
}

.related-products .swiper-pagination-progressbar {
  top: auto;
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image explanation"
    "image form"
    "related related";
    gap: 80px;
    align-items: start;
  }

  .product-image {
    max-width: 500px;
    grid-area: image;
  }

  .product-image .img-list .swiper-slide {
    width: 80px;
  }

  .product-explanation {
    grid-area: explanation;
    margin: 0;
  }

  .product form {
    grid-area: form;
    width: 350px;
    margin: 0;
    border: 2px solid var(--text);
    border-radius: 8px;
  }

  .related-products {
    grid-area: related;
  }

  .related-products .swiper-slide {
    width: 140px;
  }
}